<nav class="navbar navbar-inverse ">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" style=" font-family: 'Times New Roman', Times, serif;">Let's start blogging</a>
      </div>
      <ul class="nav navbar-nav" style=" font-family: 'Times New Roman', Times, serif;">
        <li><a href="/">Home</a></li>
        {% if session.login %}
        <li><a href="/write-blog">Write a new blog</a></li>
        <li><a href="/my-blogs">View my blogs</a></li>
        {% endif %}
        <li><a href="/about">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style=" font-family: 'Times New Roman', Times, serif;">
        {% if session.login %}
        <li>
          <a href="/logout">Logout</a>
        </li>
        {% else %}
        <li>
          <a href="/login"><span class="glyphicon glyphicon-log-in" ></span> Login</a>
        </li>
        <li>
          <a href="/register"><span class="glyphicon glyphicon-user" ></span> Register</a>
        </li>
        {% endif %}
      </ul>
  </nav>
  